body, html { height: 100%; margin: 0;}

#map {
    width: 100%;
    height: 100%;
    position: relative
}

.flex-column {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 15px;
}
#form {
    position: absolute;     /* otherwise flex doesn't work */
    left: 5px; z-index: 1000;
 }
.form-item {
    margin: 5px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 100px;
    max-width: 200px;
}

.noUi-connect {
    background: crimson;
}
#slider {
    width: 160px;
    margin: 10px;
}
input[type="number"] {
    max-width: 50px;
}
#max-range {
    position: absolute;
    right: -5%;
}
#min-range {
    position: absolute;
    left: -5%;
}

.custom-marker {
    background-color: crimson;
    /*border-radius: 50%;*/
    width: 20px;
    height: 20px;
}