<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Geographic Data Visualization</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <link href="https://cdn.jsdelivr.net/npm/nouislider@15.6.1/dist/nouislider.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}">
    <!--        <html> and <body> have default margins and paddings -->
    <style>


    </style>

</head>
<body>
<div id="map" >
    <div class="flex-column">
        <!-- Dropdown menu -->
        <div id="form">
            <form>
                <select id="attribute" class="form-item" onchange="updateAttribute()">
                    {% for attribute in numerical_attributes %}
                        <option value="{{ attribute }}">{{ attribute }}</option>
                    {% endfor %}
                </select>
                <!-- Range slider for attribute values -->
                <div id="slider"></div>
                <input id="min-range" type="number" oninput="updateRange()">
                <input id="max-range" type="number" oninput="updateRange()">
            </form>
        </div>
    </div>

</div>


<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<!--<script src="{{ url_for('static', filename='leaflet-src.js') }}"></script>-->
<script src="{{ url_for('static', filename='layers.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/nouislider@15.6.1/dist/nouislider.js"></script>
<script src="{{ url_for('static', filename='nouislider.js') }}"></script>

<script>
    // parse jinja variable data into a JSON object and store it in a variable called data (global variable)

    const data = JSON.parse({{ data|tojson }});

    // Add markers to map
    var markers = [];
    data.forEach(function (point) {
        // Create marker
        var marker = L.marker([point.LATITUDE, point.LONGITUDE]).addTo(map);
        markers.push(marker);

        // Set marker properties
        marker.feature = {
            properties: point
        };
    });

    // Initialize range slider
    var slider = document.getElementById('slider');
    var attribute = document.getElementById('attribute').value;
    var values = data.map(function (point) {
        return point[attribute];
    });
    var min = Math.min.apply(Math, values);
    var max = Math.max.apply(Math, values);
    noUiSlider.create(slider, {
        start: [min, max],
        range: {
            'min': min,
            'max': max
        },
        connect: true,
       // step: 1,
        tooltips: true
    });

    // Update input numbers with range values
    var minRangeInput = document.getElementById('min-range');
    var maxRangeInput = document.getElementById('max-range');
    minRangeInput.value = min;
    maxRangeInput.value = max;

    // Update range values with input numbers
    function updateRange() {
        var min = parseInt(minRangeInput.value);
        var max = parseInt(maxRangeInput.value);
        slider.noUiSlider.set([min, max]);
        updateMarkers();
    }

    // Update marker visibility based on attribute values
    function updateMarkers() {
        var range = slider.noUiSlider.get();
        min = range[0];
        max = range[1];
        markers.forEach(function (marker) {
            var value = marker.feature.properties[attribute];
            marker.setOpacity((value >= min && value <= max) ? 1 : 0.1);
        });
    }

    // Update map with attribute values
    function updateAttribute() {
        // Get selected attribute and values
        attribute = document.getElementById('attribute').value;
        values = data.map(function (point) {
            return point[attribute];
        });

        // Update range for noUiSlider
        min = Math.min.apply(Math, values);
        max = Math.max.apply(Math, values);
        slider.noUiSlider.updateOptions({
            start: [min, max],
            range: {
                'min': min,
                'max': max
            }
        });
        // Update input numbers with range values
        minRangeInput.value = min;
        maxRangeInput.value = max;

        // Update marker visibility
        updateMarkers();
    }
    // Set up event listeners for range slider and input fields
    slider.noUiSlider.on('slide', updateMarkers);
    minRangeInput.addEventListener('input', updateRange);
    maxRangeInput.addEventListener('input', updateRange);

</script>

{# redundent #}

</body>
</html>
