<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Geographic Data Visualization</title>
    <!--    Preventing mobile downsize  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.01" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <link href="https://cdn.jsdelivr.net/npm/nouislider@15.6.1/dist/nouislider.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}">
</head>
<body>
<div id="map" >
    <div id = "data-controls">
        <form id="form" class="flex-column">
            <!-- Data column dropdown menu -->
            <select id="data-column" class="form-item" onchange="displaySelectedDataColumn()">
                {% for column in numerical_attributes %}
                <option value="{{ column }}">{{ column }}</option>
                {% endfor %}
            </select>

            <!-- Range slider for data column values -->
            <div id="slider"></div>
            <div id="slider-inputs">
                <input id="min-range" type="number" oninput="updateRange()">    <!-- oninput is triggered when the value changes -->
                <input id="max-range" type="number" oninput="updateRange()">    <!-- oninput is triggered when the value changes -->
            </div>
            <!-- Dropdown menu for selecting number of ranges -->
            <label for="num-ranges" class="form-label" >Number of ranges (R.), default quantiles: </label>
            <select id="num-ranges">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>

            <!-- Form for setting ranges and colors -->
            <div id="range-form"> <!-- because nested form tag is not present in DOM -->
                <div id="range-inputs"></div>
            </div>

            <div id="markers-side-slider"></div>
            <label for="markers-side-slider" class="form-label"> Max marker size (px)</label>
            <div class="break2em"></div>
            <label class="form-label checkbox-label"> Check to display values as markers areas.
                Change which data is displayed below.
                <input type="checkbox" id="marker-size-toggle">
            </label>
            <!-- Data column dropdown menu -->
            <select id="data-column-as-areas" class="form-item">
                {% for column in numerical_attributes %}
                <option value="{{ column }}">{{ column }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <form id="upload-form" class="form-label "method="post" enctype="multipart/form-data" action="/upload">
        <div id="upload-label">
            <label for="file-input">Upload a CSV with lat and long columns to display data on the map.
                At 2 k points the map can lag.
                <input type="file" name="file" id="file-input" accept=".csv"  required>
            </label>
        </div>
        <input type="submit" value="Upload">
    </form>
</div>

<script>
    const data = JSON.parse({{ data|tojson }});     // data is a jinja variable and is from csv
    const ranges = JSON.parse({{ quantile_ranges|tojson }});
</script>

<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<!--<script src="{{ url_for('static', filename='leaflet-src.js') }}"></script>-->
<script src="{{ url_for('static', filename='layers.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/nouislider@15.6.1/dist/nouislider.js"></script>
<!--<script src="{{ url_for('static', filename='nouislider.js') }}"></script>-->
<script src="{{ url_for('static', filename='data-controls.js') }}"></script>

</body>
</html>
